* {
  box-sizing: border-box;
}

body, button {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat Alternates', sans-serif;
}

h1 {
  margin: 0;
}

.bannerPic {
  width: 100%;
  /* max-height: 100vh; */
  /* height: 100%; */
  /* overflow: hidden; */
}

.bannerPic .picDesk {
  position: relative;
}

.bannerPic img {
  width: 100%;
}

.bannerPic .pictxt {
  position: absolute;
  left: 0;
  top: 30px;
  /* background: rgba(255, 255, 255, 0.3); */
  color: white;
  display: inline-flex;
  /* width: 100%;
  height: 100%; */
  justify-content: center;
  align-items: center;
  font-size:80px;
  font-family: "Montserrat" !important;

}

.bannerPic .secondpara{
  color:black;
}

section.section2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 50px 120px;
}

.mission {
  font-size: 25px;
}

.mission_content1 {
  max-width: 700px;
  width: 100%;
  padding: 20px;
  letter-spacing: 0.05rem;
}

.mission_content1 p.p1 {
  line-height: 25px;
}

section.section3 {
  text-align: center;
}

section.section3 .forshop {
  display: inline-flex;
}

.shop_pic_border {
  max-width: 600px;
  width: 100%;
}

.shop_pic_border img {
  width: 100%;
  border-radius: 5px;
  padding: 20px;
}

.shop_pic_border img:hover {
  transition: all 0.6s;
  transform: scale(0.9);
  opacity: 85%;
  cursor: pointer;
}

.shop_words {
  padding: 30px;
  line-height: 60px;
  width: 100%;
}

.shop_words .shop_subtitle1 {
  line-height: 2;
}

.shop_words .shop_subtitle2 {
  font-size: 30px;
  font-weight: bold;
}

.shop_words .shop_subtitle3 a.shop_subtitle3 {
  text-decoration: none;
  padding: 5px;
  border: 1px solid black;
  max-width: 80px;
  font-size: 0;
  font-size: 20px;
  position: relative;
  top: 40px;
  color: black;
}

.shop_words .shop_subtitle3 a.shop_subtitle3:hover {
  background-color: lightgrey;
  color: #fff;
  transition: .5s;
}

.feature h1 {
  text-align: center;
  padding: 30px 0px;
  font-size: 35px;
}

.gallery_container {
  display: flex;
  text-align: center;
  padding-bottom: 20px;
}

.gallery {
  width: 100%;
  margin: auto;
}

.gallery_container img {
  width: 100%;
}

/* feature products */
.gallery a .desc {
  max-height: 40px;
  height: 100%;
}

.img-all {
  max-width: 323px;
  width: 100%;
  padding-top: 112%;
  margin: auto;
  position: relative;
}

.img-backpacker {
  background: url("../image/featured/backpacker.jpg") no-repeat;
  background-size: contain;
}

.img_hover_btn {
  display: none;
  position: absolute;
  bottom: 30px;
  right: 0;
  left: 0;
  margin: auto;
  padding: 10px 20px;
  background: #fff;
  border: 1px solid #000;
  width: 200px;
  cursor: pointer;
  font-size: 16px;
}

.img_hover_btn:hover {
  transition: .5s;
  background: lightgrey;
  color: #fff;
}

.img-backpacker:hover {
  background: url("../image/featured/bg-backpacker.jpg") no-repeat;
  background-size: contain;
  transition: all 0.3s;
}

.img-all:hover .img_hover_btn {
  display: inline-block;
}

.gallery a.backpacker {
  text-decoration: none;
  color: black;
}

.img-bikelight {
  background: url("../image/featured/bikelight.jpg") no-repeat;
  background-size: contain;
}

.img-bikelight:hover {
  background: url("../image/featured/bg-bikelight.jpg") no-repeat;
  background-size: contain;
  transition: all 0.3s;
}

.gallery a.bikelight {
  text-decoration: none;
  color: black;
}

.img-kitchen {
  background: url("../image/featured/kitchen.jpg") no-repeat;
  background-size: contain;
}

.img-kitchen:hover {
  background: url("../image/featured/bg-kitchen.jpg") no-repeat;
  background-size: contain;
  transition: all 0.3s;
}

.gallery a.kitchen {
  text-decoration: none;
  color: black;
}

.img-cooker {
  background: url("../image/featured/cooker.jpg") no-repeat;
  background-size: contain;
}

.img-cooker:hover {
  background: url("../image/featured/bg-cooker.jpg") no-repeat;
  background-size: contain;
  transition: all 0.3s;
}

.gallery a.cooker {
  text-decoration: none;
  color: black;
}

/* modal  */

.overlay button{
  cursor: pointer;
}
div.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: hsla(0, 0%, 0%, .5);

  /* 預設：完全透明；設定 z-index: -1 會在整個頁面的後方，看不到，才不會擋到頁面元素。 */
  opacity: 0;
  z-index: -1;
  transition: opacity 1s;
}
div.overlay.-on{

  /* 加上 -on 之後，Modal 漸漸出現，因為有設定 transition */
  opacity: 1;
  z-index: 1;
}

div.overlay.-opacity-zero{
  /* 關閉 Modal 時，先讓 opacity設定0，就會慢慢變成完全透明，但這時會擋到後面的元素，所以要再移除 -on 及 -opacity-zero 這兩個 class */
  opacity: 0;
}

/* 元素 article 置中及基本樣式 */
div.overlay > article{
  background-color: white;
  width: 90%;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ddd;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.feature .overlay.-on .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.feature .overlay.-on .container button.btn_modal_close{
  border:1px transparent;
  background-color: transparent;
  font-size: 35px;
  position: absolute;
  top:0;
  right:0;
  padding: 20px;
}

.feature .overlay.-on .container .page{
  padding-top: 20px;
}

.feature .overlay.-on .container .pageAndPic{
  display: block;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.feature .overlay.-on .container .left_pic{
  width: 323px;
}

.feature .overlay.-on .container .right h2, .feature .overlay.-on .container .right span{
  font-size: 35px;
}

.feature .overlay.-on .container .right{
  padding: 20px 20px 20px 40px;
  text-align: left;
  }

  .feature .overlay.-on .container .twoBtns{
    margin: 30px 0px;
  }

.feature .overlay.-on .container .twoBtns button#add-to-cart {
  padding: 10px 20px;
  background: #fff;
  border: 1.5px solid black;
  cursor: pointer;
  font-size: 20px;
}

.feature .overlay.-on .container .twoBtns button#add-to-cart:hover{
  transition: .5s;
  background: lightgrey;
  color: #fff;
  border: 1.5px solid black;
}

.feature .overlay.-on .container .twoBtns button#quality {
  padding: 10px 20px;
  background: #fff;
  border: 1.5px solid black;
  cursor: pointer;
  font-size: 20px;
}

.feature .overlay.-on .container .right a{
  text-decoration:underline;
  color:black;
}



section.section5 .ackbg {
  padding-top: 300px;
  background-image: url("../image/acknowledgement/pexels-ákos-szabó-440731.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

section.section6 h1.ack {
  text-align: center;
  padding-top: 30px;
  font-size: 35px
}

section.section6 .ack-container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

section.section6 .ack-container .flex {
  /* max-width: 300px; */
  /* width: 100%; */
  text-align: center;
  margin: 10px;
}

section.section6 .img {
  max-width: 200px;
  width: 100%;
  margin: auto;
}

section.section6 .img img {
  width: 100%;
}

section.section6 .ack-container .flex p {
  max-width: 260px;
  width: 100%;
  text-align: center;
  line-height: 25px;
  /* height: 275px; */
  margin: auto;
}

section.section6 .ack-container .flex h2 {
  font-size: 22px;
}

section.section7 .actbg{
  max-width: 800px;
  width:100%;
  height: 340px;
  margin: 30px auto;
  background: url(..//image/activism/activism.jpg) no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

section.section7 .actbg h1 {
  font-size: 35px;
  position: absolute;
  top: 160px;
  right: 30px;
}

section.section7 .actbg p{
  position: absolute;
  top: 200px;
  right: 70px;
  max-width: 360px;
  width: 100%
}

/* activism story */
.actStory_container{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}
.actitem {
  max-width: calc((100% - 100px) / 4);
  width:100%;
  padding: 5px;
  position: relative;
}

.actitem img{
  width:100%;
}
.actitem h1{
  text-align: center;

}
.actitem button{
  padding: 5px;
  font-size: 14px;
}

section.section8{
  margin-top: 50px;
  background-color: #f9f9f9;
  padding: 50px;
}

section.section8 h1{
text-align: center;
font-size: 35px;
}

section.section8 h4{
  text-align: center;
  padding: 20px;
  font-weight: normal;
  margin:0px;
}
section.section8 input{
  padding: 5px;
  font-family: 'Montserrat Alternates';
  width: 260px;
}
section.section8 button{
  padding:5px;
  color:black
}
section.section8 .input{
  text-align: center;
}
.butDire{
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
.butDire button{
  width:50px;
  height: 30px;
  margin:0 20px;
}


/* ============ 螢幕小於767px時 ============ */
@media screen and (max-width:767px) {

  section.section2 {
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
  }

  .bannerPic .pictxt span.text{
    font-size: 32px;
    position: absolute;
    left: 0px;
    top: 0
  }

  .bannerPic .pictxt span.text h1{
    width: 360px
  }

  .bannerPic .secondpara{
    font-size: 32px;
    position: absolute;
    color: white;
    top: 130px
  }

  section.section2 .mission h1 {
    margin: 0;
  }

  .mission_content1 {
    padding: 0;
  }

  section.section3 .forshop {
    flex-wrap: wrap-reverse;
    width: 330px;
  }

  section.section3 .forshop .shop_words {
    padding: 0;
    line-height: 30px;
  }

  .shop_pic_border {
    padding: 30px 10px 0px 10px;
  }

  .shop_pic_border img {
    width: 100%;
    border-radius: 25px;
  }

  .feature h1 {
    padding: 0px;
  }

  .gallery_container {
    display: flex;
    flex-wrap: wrap;
  }

  .gallery_container .gallery {
    width: calc(100% / 2);
    padding: 5px;
  }

  .img-backpacker, .img-bikelight, .img-cooker, .img-kitchen {
    height: 230px;
    /* width: 210px; */
  }

  .gallery a .desc {
    margin: 20px 0 40px 0;
  }

  .img_hover_btn {
    width: 120px;
  }

  /* div.overlay > article{
    max-width: 767px;
    width: 100%;
  } */



.feature .overlay.-on .container{
  display: block;
}
.feature .overlay.-on .container p{
  display: none;
}
.feature .overlay.-on .container .right h2, .feature .overlay.-on .container .right span{
  font-size:24px;
}
.feature .overlay.-on .container .left_pic {
  width:60%;
}


  section.section5 .ackbg {
    padding-top: 180px;
  }

  section.section6 .ack-container {
    display: block;
  }

    section.section7 .actbg h1 {
      width: 160px;
      right: 30px;
    }

  section.section7 .actbg p{
    display: none;
  }

  .actStory_container {
    display: flex;
  }
  .actitem {
    max-width: 50%;
    padding: 5px;

}

section.section8 button {
  margin-top: 10px;


}

}
